{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Client files -->
        <link rel="stylesheet" href="{% static 'website/dist/style.css' %}">
        <script src="{% static 'website/dist/main.js' %}"></script>
        <!-- End of client files -->
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include 'website/layout/header.html' %}

        {% block content %}{% endblock %}
    </body>
</html>
