{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
              rel="stylesheet">
        <!-- Client files -->
        <link rel="stylesheet" href="{% static 'website/dist/main.css' %}">
        <script defer src="{% static 'website/dist/main.js' %}"></script>
        <!-- End of client files -->
        {% block head %}{% endblock %}
    </head>
    <body class="bg-gray-100">
        {% include 'website/layout/header.html' %}
        {% block content %}{% endblock %}
        {# out of band swaps goes below 👇 #}
        <div data-oob-alert></div>
    </body>
</html>
