{% load static %}

<header class="flex justify-between items-center">
    <div class="container flex items-center justify-between py-6">
        <a class="text-2xl text-gray-950 font-black" href="{% url 'home' %}">
            <span class="text-primary">E</span>-commerce
        </a>
        <a class="text-gray-500 relative" href="{% url 'cart' %}">
            <span class="icon-shopping-cart text-3xl"></span>
            <div hx-trigger="load once, cart_updated from:body"
                 hx-get="{% url 'cart_count' %}"></div>
        </a>
    </div>
</header>
