{% extends "website/layout/base.html" %}

{% block head %}<title>Home</title>{% endblock %}
{% block content %}
    <div class="container py-10">
        <div class="space-y-3 mb-10">
            <h1 class="text-gray-900 uppercase font-oswald">Top Categories</h1>
            <div class="flex flex-wrap gap-x-2 gap-y-2">
                <button class="text-gray-600 rounded-md px-3 bg-white font-medium h-10">Electronics</button>
                <button class="text-gray-600 rounded-md px-3 bg-white font-medium h-10">Clothing</button>
                <button class="text-gray-600 rounded-md px-3 bg-white font-medium h-10">Furniture</button>
                <button class="text-gray-600 rounded-md px-3 bg-white font-medium h-10">Books</button>
                <button class="text-gray-600 rounded-md px-3 bg-white font-medium h-10">Toys</button>
            </div>
        </div>
        <div class="space-y-7">
            {% for product in products %}
                <a class="block" href="{% url 'product_detail' product.id %}">
                    {% include "website/components/card.html" with product=product %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
